/* Navigation Bar */
.navbar {
    background-color: #f8f9fa; /* Light background color for navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for navbar */
}

.navbar-brand img {
    height: 50px; /* Adjust the logo height */
}

.custom-text {
    font-size: 1.5rem; /* Adjust font size of navbar brand text */
    color: #343a40; /* Dark color for text */
}

.navbar-nav .nav-item .nav-link {
    font-size: 1rem; /* Adjust font size for nav links */
    color: #495057; /* Darker color for nav links */
}

.navbar-nav .nav-item .nav-link:hover {
    color: #007bff; /* Change color on hover */
}

.navbar-nav .dropdown-menu {
    background-color: #f8f9fa; /* Light background color for dropdown */
}

.dropdown-menu .dropdown-item {
    font-size: 1rem; /* Adjust font size for dropdown items */
    color: #495057; /* Darker color for dropdown items */
}

.dropdown-menu .dropdown-item:hover {
    background-color: #e9ecef; /* Light background color on hover */
}

.text-logout {
    color: #dc3545; /* Red color for logout link */
}

.text-logout:hover {
    color: #c82333; /* Darker red on hover */
}
